name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JD
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file wordmaps-backend/pom.xml -DskipTests

    - name: Setup Node.js environment
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'
        cache-dependency-path: wordmaps-frontend/package-lock.json

    - name: Install Frontend Dependencies
      run: |
        cd wordmaps-frontend
        npm ci

    - name: Build Frontend
      run: |
        cd wordmaps-frontend
        npm run build
